.places {
  display: flex;
  margin-top: 12px;
  max-width: calc((984/1280)*100%);
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: calc((928/1024)*100%);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1024px) {
    /* стили для планшета */
}

@media screen and (max-width: 768px) {
    /* стили для широкого смартфона */
}

@media screen and (max-width: 320px) {
    /* стили для малого смартфона */
}
