.cover__subtitle {
  width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  position: absolute;
  margin: auto;
  top: 55%; left: 0; right: 0;
}


@media screen and (max-width: 1023px) {
  .cover__subtitle {
    top: 65%;
  }
}

@media screen and (max-width: 768px) {
    /* стили для широкого смартфона */
}

@media screen and (max-width: 320px) {
    /* стили для малого смартфона */
}
