.places__website {
  width: 456px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 0;
  margin-left: 40px;
}


@media screen and (max-width: 1279px) {
  .places__website {
    margin-left: 32px;
  }
}

@media screen and (max-width: 1024px) {
    /* стили для планшета */
}

@media screen and (max-width: 768px) {
    /* стили для широкого смартфона */
}

@media screen and (max-width: 320px) {
    /* стили для малого смартфона */
}
